/*Estilos del aside (mobile first)*/
.aside {
    height: 80vh;
    grid-area: aside;
    @include flex (flex, column, space-around, flex-start);

    .aside__social {
        transform: rotate(-90deg);
        .aside__link {
            text-decoration: none;
            color: $primary-color;
            font-family: $font-family;
            font-weight: 400;
        }
    }
}


