.footer {
    grid-area: footer;
    color: white;
    .footer__cont{
        @include flex (flex, row, space-around, center);

        .footer__text {
            font-size: 1.1rem;
            font-weight: lighter;
        }
    }
}

